<%= render "shared/header" %>

  <%# アイデアの概要 %>
<div class="idea-show">
  <div class="idea-box">
    <%= render partial: "shared/idea", locals: { idea: @idea } %>
    <%# /アイデアの概要 %>

    <%# /編集・削除 %>
    <% if user_signed_in? %>
      <% if current_user.id == @idea.user_id %>
        <%= link_to 'アイデアの編集', edit_idea_path(@idea.id), class: "idea-red-btn"%>
        <p class='or-text'>or</p>
        <%= link_to '削除', idea_path(@idea.id), method: :delete, class:'idea-destroy' %>
      <% end %>
    <% end %>
    <%# /編集・削除 %>

    <div class="option">
      <div class="favorite-btn">
        <%#= image_tag "#" ,class:"favorite-star-icon" ,width:"20",height:"20"%>
        <span>お気に入り 0</span>
      </div>
      <div class="report-btn">
        <%#= image_tag "#" ,class:"report-flag-icon" ,width:"20",height:"20"%>
        <span>不適切なアイデア募集の通報</span>
      </div>
    </div>
  </div>
</div>