<%= render "shared/second-header"%>

<div class='registration-main'>
  <div class='form-header'>
    <h1 class='form-header-text'>
      本人確認
    </h1>
  </div>

  <div class="form-group">
    <p class='form-info-text'>
      <%= link_to "トップページへ戻る", root_path%>
    </p>
  </div>

</div>

<%= render "shared/footer"%>
