<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class='top-page-header'>
  <div class="servise-info">
    <p class="servise-explain1">
      <div class="top">
        <a href="/" class="servise-name">
          アイデアアップ
        </a>
      </div>
    </p>
  </div>
</header>