<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class='top-page-header'>
  <div class="user">
    <div class="head-left">
      <h1 class="servise-explain">
        アプリ名
      </h1>
    </div>
  </div>
</header>