.recruit-contents {
  background-color: #f5f5f5;
  font-family: "Source Sans Pro", Helvetica, Arial, "æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“", "YuGothic", "ãƒ¡ã‚¤ãƒªã‚ª", "Meiryo", sans-serif;
  font-size: 14px;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 500px;
}

.recruit-header {
  padding: 5vh 0;
  text-align: center;
}

.recruit-main {
  background-color: #FFF;
  width: 70vw;
  min-width: 450px;
  padding: 10vh 15vw;
}

.recruit-title {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}

/* 共通 */
.indispensable {
  background: #ea352d;
  margin-left: 8px;
  padding: 3px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}

.weight-bold-text {
  font-weight: bold;
  min-width: 170px;
  margin: 25px 0 10px 0;
}

.select-box {
  height: 30px;
  width: 100%;
  background-color: #f5f5f5;
  padding-left: 20px;
}
/* /共通 */

/* アイデア名とアイデア内容、画像 */
.new-recruits {
  padding: 2vh 0;
}

.recruit-theme {
  width: 100%;
  height: 80px;
  padding: 3px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  resize: none;
}

.recruit-other {
  width: 100%;
  height: 80px;
  padding: 5px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  resize: none;
}

.recruit-detail {
  display: flex;
  justify-content: space-between;
  padding: 2vh 0;
}

.select-box {
  margin: 2vh 0;
}

.buy-price {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.price-contents {
  width: 300px;
  padding: 10px;
  display: flex;
  align-items: center;
}

.sell-yen {
  font-size: 18px;
}

.price-input {
  height: 30px;
  text-align: right;
  padding-right: 10px;
}
/* アイデア名とアイデア内容、画像 */

/* 下部ボタン */
.recruit-btn-contents {
  width: 100%;
  text-align: center;
}

.recruit-btn {
  background: #BBFFFF;
  border: 1px solid #BBFFFF;
  color: #1B1B1B;
  width: 100%;
  height: 50px;
  font-size: 14px;
  margin-bottom: 4vh;
}

.back-btn {
  background: #aaa;
  border: 1px solid #aaa;
  color: #fff;
  padding: 15px 35%;
  text-decoration: none;
}

/* /下部ボタン */